In [1]:
# Import all the required libraries for data analysis 

import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns 

# For Warnings 
import warnings 
warnings.filterwarnings('ignore')

# For Display options 
pd.set_option('display.max_rows' , None)
pd.set_option('display.max_columns' , None)

In [2]:
campaign_data_path = "../Data/sample_campaigns.xlsx"

campaign_data = pd.read_excel(campaign_data_path , sheet_name = 'data')
campaign_data.head()

,campaign_id,user_id,payment,updated,created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-08-25 19:38:00.012,2021-08-25 19:35:35.288,False,False,True,False,False,NaT
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-06-15 02:53:04.367,2021-06-15 02:31:09.725,False,False,True,False,False,NaT
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-06-26 17:32:49.180,2020-06-26 17:16:23.675,False,False,True,False,False,NaT
3,5fce7222b0ebf60d3cd33336,5ac6677269741c3f0b12f699,"{'cash': {'available': False, 'budget': 2000},...",2020-12-07 18:20:23.773,2020-12-07 18:19:14.549,False,False,True,False,False,NaT
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:14.608,2021-09-06 18:03:31.544,False,False,False,True,True,2021-09-27 15:35:14.609

In [18]:
campaign_data.tail()

,campaign_id,user_id,payment,updated,created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published
295,5f5fcb1766fffa728b843b7b,5f5692666881dc0d56f8d904,"{'cash': {'available': True, 'budget': 500}, '...",2020-09-14 19:59:25.791,2020-09-14 19:57:11.637,True,False,False,True,False,2020-09-14 19:59:25.791
296,5cffbac7aa9239460521496d,5ced481646ea1f5c72de4bf6,"{'cash': {'available': True, 'budget': 250}, '...",2019-06-27 15:23:15.746,2019-06-11 14:29:27.955,True,False,False,False,False,2019-06-11 21:08:31.215
297,5eed1ecfe741a20dbe336f39,56fb496c7ed840380e1c1a8e,"{'cash': {'available': False, 'budget': 0}, 'p...",2020-06-19 20:23:43.464,2020-06-19 20:23:43.464,False,False,True,False,False,NaT
298,613f8b198659dd0d62611c62,594bcc4164f1363a087f4c79,"{'cash': {'available': False, 'budget': ''}, '...",2021-09-13 17:32:09.091,2021-09-13 17:32:09.091,True,False,False,True,True,2021-10-01 17:56:03.759
299,5e45b0dd8ac2680de7486180,5e45acf51f436b0de03679f3,"{'cash': {'available': True, 'budget': 1000}, ...",2020-02-14 17:10:03.005,2020-02-13 20:26:05.876,True,False,False,True,False,2020-02-14 17:05:04.724

In [19]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    300 non-null    object
 1   user_id        299 non-null    object
 2   payment        300 non-null    object
 3   updated        300 non-null    datetime64[ns]
 4   created        300 non-null    datetime64[ns]
 5   isUnpublished  300 non-null    bool
 6   isDeleted      300 non-null    bool
 7   isDraft        300 non-null    bool
 8   isApproved     300 non-null    bool
 9   isPublic       300 non-null    bool
 10  published      146 non-null    datetime64[ns]
dtypes: bool(5), datetime64[ns](3), object(3)
memory usage: 15.7+ KB

In [30]:
campaign_data_df = campaign_data.copy()


campaign_data_df['published'] = campaign_data_df['published'].astype(object).where(campaign_data_df['published'].notnull() , 'Not Published' ) 
campaign_data_df.head()

,campaign_id,user_id,payment,updated,created,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-08-25 19:38:00.012,2021-08-25 19:35:35.288,False,False,True,False,False,Not Published
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-06-15 02:53:04.367,2021-06-15 02:31:09.725,False,False,True,False,False,Not Published
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-06-26 17:32:49.180,2020-06-26 17:16:23.675,False,False,True,False,False,Not Published
3,5fce7222b0ebf60d3cd33336,5ac6677269741c3f0b12f699,"{'cash': {'available': False, 'budget': 2000},...",2020-12-07 18:20:23.773,2020-12-07 18:19:14.549,False,False,True,False,False,Not Published
4,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:14.608,2021-09-06 18:03:31.544,False,False,False,True,True,2021-09-27 15:35:14.609000

In [36]:
total_published_campaigns = len(campaign_data_df[campaign_data_df['published'] != 'Not Published'])
total_unpublished_campaigns = len(campaign_data_df[campaign_data_df['published'] == 'Not Published'])
total_brands = len(campaign_data_df['published'])

published_camp_ratio = (total_published_campaigns / total_brands) * 100  

print(f"Ratio of Brands with Published campaign : {round(published_camp_ratio,2)} %")

Ratio of Brands with Published campaign : 48.67 %

##### Observation 


<i>
    1. Nearly 48.6 percent of brands are publishing campaigns in total.  <br>
</i>

#### Brands that publish campaign within each level ? 

<i>We need to merge 'sample_campaign' with 'sample_users now.</i>

In [39]:
users_data_path = '../Data/sample_users.xlsx'
user_data = pd.read_excel(users_data_path , sheet_name ='data')
user_data.head()

,user_id,created,planLevel,lastActive,companySize,country
0,5c3df1a0d5854974ea379b5e,2019-01-15 14:43:44.428,0,2019-03-04 16:31:52.266,NaN,United States
1,5c3e29afe266c87dc3e14162,2019-01-15 18:42:55.550,0,2020-07-09 15:57:29.842,NaN,United States
2,5c4794368b091565d315f886,2019-01-22 22:07:50.767,0,2019-12-06 16:54:06.366,NaN,United States
3,5c488f5e94f2a315d7501ffe,2019-01-23 15:59:26.526,0,2019-01-23 16:16:56.111,NaN,United States
4,5c5226edb9a5f919a01bb091,2019-01-30 22:36:29.297,0,2020-09-25 19:28:36.032,NaN,United States

In [41]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      836 non-null    object
 1   created      836 non-null    datetime64[ns]
 2   planLevel    836 non-null    int64
 3   lastActive   835 non-null    datetime64[ns]
 4   companySize  315 non-null    object
 5   country      725 non-null    object
dtypes: datetime64[ns](2), int64(1), object(3)
memory usage: 39.3+ KB

In [40]:

merger_df = campaign_data_df.merge(user_data , on ='user_id')

merger_df.head()

,campaign_id,user_id,payment,updated,created_x,isUnpublished,isDeleted,isDraft,isApproved,isPublic,published,created_y,planLevel,lastActive,companySize,country
0,61269b87fd44e10d880dd983,61269342b9e1180d61686d9a,"{'cash': {'available': True, 'budget': 5000, '...",2021-08-25 19:38:00.012,2021-08-25 19:35:35.288,False,False,True,False,False,Not Published,2021-08-25 19:00:18.935,0,2021-08-25 19:38:01.120,10 - 49 employees,United States
1,60c810edba9bff0d35f14179,60c80e784857720d47bba912,"{'cash': {'available': True, 'budget': 2000, '...",2021-06-15 02:53:04.367,2021-06-15 02:31:09.725,False,False,True,False,False,Not Published,2021-06-15 02:20:40.932,0,2021-07-12 23:29:44.062,less than 10 employees,United States
2,5ef62d675ff1190dd60515cb,5ea19a66edfbf30ddb8b55b6,"{'cash': {'available': False, 'budget': ''}, '...",2020-06-26 17:32:49.180,2020-06-26 17:16:23.675,False,False,True,False,False,Not Published,2020-04-23 13:38:46.236,0,2021-07-31 15:50:11.277,NaN,United States
3,613657f332d7960d67273b2e,60897d99fa40140d62906a1c,"{'cash': {'available': True, 'budget': 10000, ...",2021-09-27 15:35:14.608,2021-09-06 18:03:31.544,False,False,False,True,True,2021-09-27 15:35:14.609000,2021-04-28 15:22:01.429,0,2021-09-30 17:11:36.147,less than 10 employees,United States
4,60b113c13df7b50d73721d1d,60b10f2544ab5f0d80fdcbe2,"{'cash': {'available': True, 'budget': 5000}, ...",2021-05-28 16:10:27.123,2021-05-28 16:01:05.714,False,False,True,False,False,Not Published,2021-05-28 15:41:25.069,1,2021-07-28 12:46:29.117,less than 10 employees,United States

In [42]:
merger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    256 non-null    object
 1   user_id        256 non-null    object
 2   payment        256 non-null    object
 3   updated        256 non-null    datetime64[ns]
 4   created_x      256 non-null    datetime64[ns]
 5   isUnpublished  256 non-null    bool
 6   isDeleted      256 non-null    bool
 7   isDraft        256 non-null    bool
 8   isApproved     256 non-null    bool
 9   isPublic       256 non-null    bool
 10  published      256 non-null    object
 11  created_y      256 non-null    datetime64[ns]
 12  planLevel      256 non-null    int64
 13  lastActive     256 non-null    datetime64[ns]
 14  companySize    82 non-null     object
 15  country        236 non-null    object
dtypes: bool(5), datetime64[ns](4), int64(1), object(6)
memory usage: 23.4+ KB

In [43]:
merger_df['planLevel'].unique()

array([0, 1, 2, 3, 9], dtype=int64)